---
# docker compose -f docker-compose.yml up -d
services:
  mysqldb:
    image: mysql:8.0
    restart: always
    command: --default-authentication-plugin=mysql_native_password --bind-address=0.0.0.0
    environment:
      MYSQL_ROOT_PASSWORD: password
      MYSQL_DATABASE: melty
      MYSQL_ROOT_HOST: '%'
    ports:
      - 3306:3306
  mysqldb_ssh:
    image: mysql:8.0
    restart: always
    command: --default-authentication-plugin=mysql_native_password --bind-address=0.0.0.0
    environment:
      MYSQL_ROOT_PASSWORD: password
      MYSQL_DATABASE: melty
      MYSQL_ROOT_HOST: '%'
    networks:
      inner:
        ipv4_address: 10.5.0.5
  ssh:
    image: ghcr.io/linuxserver/openssh-server:9.1_p1-r2-ls106 # This docker repo has added breaking changes a lot in the last month, pinning this.
    hostname: openssh-server
    environment:
      - PUID=1000
      - PGID=1000
      - PUBLIC_KEY_FILE=/config/ssh_host_keys/ssh_host_rsa_key.pub
      - SUDO_ACCESS=true
      - PASSWORD_ACCESS=false
      - USER_NAME=melty
    volumes:
      - ./ssh_tunnel/ssh-server-config:/config/ssh_host_keys:rw
    ports:
      - "2223:2222"
    networks:
      - inner

networks:
  inner:
    driver: bridge
    ipam:
     config:
       - subnet: 10.5.0.0/16
         gateway: 10.5.0.1
